<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>
<div class="ion-margin-top">
  <ion-button expand="block" fill="outline" routerLink="/rappels">Mes rappels du jour</ion-button>
  <ion-button expand="block" fill="outline" routerLink="/medicaments">Mes médicaments</ion-button>
</div>
<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding" *ngIf="chargement">
    <ion-spinner></ion-spinner>
    <p>Chargement du profil...</p>
  </div>

  <div class="ion-text-center ion-padding" *ngIf="!chargement && erreurChargement">
    <p>Impossible de charger ton profil. Vérifie que le backend tourne et que tu es bien connecté.</p>
    <ion-button (click)="chargerProfil()">Réessayer</ion-button>
    <ion-button fill="clear" color="danger" (click)="seDeconnecter()">Se déconnecter</ion-button>
  </div>

  <div class="odonnanci-auth-container" *ngIf="!chargement && !erreurChargement">
    <ion-badge color="secondary" *ngIf="utilisateur">{{ utilisateur.role }}</ion-badge>

    <form [formGroup]="formulaire" (ngSubmit)="enregistrer()">
      <ion-item>
        <ion-label position="stacked">Prénom</ion-label>
        <ion-input formControlName="prenom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input formControlName="nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Téléphone</ion-label>
        <ion-input formControlName="telephone"></ion-input>
      </ion-item>

      <ng-container *ngIf="!estMedecin">
        <ion-item>
          <ion-label position="stacked">Allergies (séparées par une virgule)</ion-label>
          <ion-input formControlName="allergies"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Antécédents (séparés par une virgule)</ion-label>
          <ion-input formControlName="antecedents"></ion-input>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="estMedecin">
        <ion-item>
          <ion-label position="stacked">Spécialité</ion-label>
          <ion-input formControlName="specialite"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Lieu d'exercice</ion-label>
          <ion-input formControlName="lieuExercice"></ion-input>
        </ion-item>
      </ng-container>

      <ion-button expand="block" type="submit" [disabled]="enregistrement" class="ion-margin-top">
        {{ enregistrement ? 'Enregistrement...' : 'Enregistrer' }}
      </ion-button>
    </form>

    <ion-button expand="block" fill="outline" color="danger" (click)="seDeconnecter()" class="ion-margin-top">
      Se déconnecter
    </ion-button>

    <p class="odonnanci-lien-secondaire" *ngIf="estMedecin">
      La gestion de tes disponibilités (pour les rendez-vous) .
    </p>
  </div>
</ion-content>
